<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="main.css">

</head>

<body>
  <div id="appointments">
      <div class="head">
        <h1>Soleir</h1>
        <nav>
          <a class="active" href="appointments.html">Appointments</a>
          <a href="hospital-info.html">Hospital Info</a>
          <button v-on:click="logout()">Logout</button>
        </nav>
      </div>



  		<div >
  			<!-- <code>data : {{data}}</code>         -->
        <ul class="panels">
          <li class="panel" v-for="appt in data.userByID.appointment">
            <!-- passes appt id into url-->
            <a :href="'appointment.html#' + appt.apptID">
              <div class="appt_title">
                {{appt.date}} 
                <span v-if="appt.time != '00:00:00.0'">{{appt.time}}</span>
              </div>
              <div class="appt_desc">{{appt.clinic}}</div>
            </a>
          </li>
        </ul>
      </div>
  		</div>


















    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  	<script> 

  	
  	</script>




</body>
</html>