<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Soleir Frontend</title>
  <meta name="description" content="Soleir">
  <meta name="author" content="BebhinnHare">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="main.css">

</head>

<body>

      <div class="head">
        <h1>Soleir</h1>
        <nav>
          <a href="appointments.html">Appointments</a>
          <a href="hospital-info.html">Hospital Info</a>
        </nav>
      </div>



  		<div id="home">
        <div v-if="message" >
          <p>{{message}}</p>
        </div>

        <!-- <code>apptID : {{apptID}}</code><br/> -->
  			<!-- <code>data : {{data}}</code> -->


        <!-- from https://blog.logrocket.com/jwt-authentication-from-scratch-vue-js-node-js/ -->
        <form
            class="login text-center border border-primary p-5"
            style="margin-top:70px;height:auto;padding-top:100px !important;"
            @submit.prevent="loginUser"
          >
            <input
              type="text"
              id="email"
              class="form-control mb-5"
              placeholder="Email"
              v-model="login.email"
            />
            <br>
            <!-- Password -->
            <input
              type="password"
              id="password"
              class="form-control mb-5"
              placeholder="Password"
              v-model="login.password"
            />
            <br>
            <!-- Sign in button -->
            <button class="btn btn-primary btn-block w-75 my-4" type="submit">
              Sign in
            </button>
          </form>


  		</div>


















    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/jwt-decode.js"></script>
    <script src="main.js"></script>



</body>
</html>